<div style="display: flex" class="h-500px">
    <nav style="height:100"class="border border-2 bg-light  display-inline-block" >
        <ul class="list-unstyled components">
            <li>
                <button  class="btn w-100  btn-primary" [routerLink]="['..','bookings']">Bookings</button>
            </li>
            <li>
                <button class="btn w-100 mt-1 btn-primary" [routerLink]="['..','profile']">Profile</button>
            </li>
            <li>
                <button routerLink="changepassword" class="btn mt-1 w-100 btn-primary" [routerLink]="['..','changepassword']">Change Password</button>
            </li>

            <li>
                <button class="btn mt-1 w-100 btn-primary" [routerLink]="['..','default']">Book New Ticket</button>
            </li>
        </ul>
    </nav>

    
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" style="margin:10vh 0vh 5vh 50vh ; padding: 10px 10px;background-color: rgb(78, 165, 223)" 
class="text-center rounded border-5 border-dark"> 
    <h2 class="text-center">Update Details</h2>


        <div class="mb-3 form-group">
            <label class="form-label"> FirstName </label>
            <input type="text" class="form-control" formControlName="fname" placeholder="Enter your first name" [ngClass]="{ 'is-invalid': submitted && f.fname.errors }">
            <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
                <div *ngIf="f.fname.errors.required">First Name is required</div>
                <div *ngIf="f.fname.errors.pattern">Inavalid First Name</div>
            </div>
            </div>
        <div class="form-group">

            <label class="form-label">LastName</label>
            <input type="text" class="form-control" formControlName="lname" placeholder="Enter your last name" [ngClass]="{ 'is-invalid': submitted && f.lname.errors }">
            <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
                <div *ngIf="f.lname.errors.required">Last Name is required</div>
                <div *ngIf="f.lname.errors.pattern">Invalid last Name</div>
            </div>
            </div>

        <div class="mb-3 form-group">
            <label>Mobile no.</label>
            <input type="number" class="form-control" formControlName="mobile" placeholder="Enter Contact no." [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }">
            <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                <div *ngIf="f.mobile.errors.required">Phone is required</div>
            </div>
            </div>
        
            <div class="mb-3 form-group">
                <label>State</label>
                <input type="text" class="form-control" formControlName="state" placeholder="Enter state" [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                    <div *ngIf="f.state.errors.required">state is required</div>
                </div></div>

            <div class="mb-3 form-group">
                    <label for="exampleInputPassword1">City</label>
                    <input type="text" class="form-control" formControlName="city" placeholder="Enter city" [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                    <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                        <div *ngIf="f.city.errors.required">city is required</div>
                    </div></div>

            <div class="mb-3 form-group">
                        <label>Street</label>
                        <input type="text" class="form-control" formControlName="street" placeholder="Enter street" [ngClass]="{ 'is-invalid': submitted && f.street.errors }">
                        <div *ngIf="submitted && f.street.errors" class="invalid-feedback">
                            <div *ngIf="f.street.errors.required">street is required</div>
                        </div>
            </div>

            <div class="mb-3 form-group">
                <label>pincode</label>
                <input type="number" class="form-control" formControlName="pincode" placeholder="Enter Pincode" [ngClass]="{ 'is-invalid': submitted && f.pincode.errors }">
                <div *ngIf="submitted && f.pincode.errors" class="invalid-feedback">
                    <div *ngIf="f.pincode.errors.required">pincode is required</div>
                </div>
                </div>

       <button class="btn btn-primary">Update</button>
        
</form>


</div>