<div style="display: flex" class="h-500px">
    <nav style="height:500px;min-width: 200px;"class="border border-2 bg-light  display-inline-block" >
        <ul class="list-unstyled components">
            <li>
                <button  class="btn w-100  btn-primary" [routerLink]="['..','top']">Top Routes</button>
            </li>
            <li>
                <button class="btn w-100 mt-1 btn-primary" [routerLink]="['..','inactive']">Inactive Customers</button>
            </li>
            <li>
                <button routerLink="changepassword" class="btn mt-1 w-100 btn-primary" [routerLink]="['..','addbus']">Add Bus</button>
            </li>
            <li>
                <button class="btn mt-1 w-100 btn-primary" [routerLink]="['..','adminbussearch']">Delete Bus</button>
            </li>
            <li>
                <button class="btn mt-1 w-100 btn-primary" [routerLink]="['..','profits']">Profits</button>
            </li>

            <li>
                <button class="btn mt-1 w-100 btn-primary" [routerLink]="['..','addroute']">Add Route</button>
            </li>

            <li>
                <button class="btn mt-1 w-100 btn-primary" [routerLink]="['..','deleteroute']">Delete Route</button>
            </li>

        </ul>
    </nav>


<form (ngSubmit)="onSubmit()" style="margin: 50px 25vw; padding:30px 100px;background-color: rgb(129, 184, 220)"class=" rounded rounded-5 border-dark d-flex flex-column">
    <h3>Select The Route</h3>
    <p>Select the source</p>
    <select [(ngModel)]="start" class="rounded rounded-3" name="start" >
            
        <option *ngFor="let source of sources" [ngValue]="source">
            {{source}}
        </option>
    </select>

    <p>Select Your Destination</p>
    <select [(ngModel)]="end" class="rounded rounded-3"name="destination" id="">
        <ng-container *ngFor="let dest of destinations">
        <option  [ngValue]="dest" *ngIf="dest!=start">{{dest}}</option></ng-container>
    </select>
    
    <button  style="margin-top: 10px;"  class="btn btn-sm btn-success" name="search" value="Search For Buses">search for buses</button>    
</form></div>