<header class="rounded pe-5px border-dark"style="display:flex; border: 1px solid black;background-color:pink">

    <img src="https://media.istockphoto.com/photos/white-passenger-bus-picture-id135327019?k=20&m=135327019&s=612x612&w=0&h=YJneXYFReSVuKSIFOy5wGIygeLeb1UquX4BWLk-MluI=" alt="" style="width:130px;height:100px">
    <h1 style="flex:1"class=" mt-3 text-center">{{title}}</h1>

   

    <button *ngIf="!loginService.isUserLoggedIn() && !loginService.isAdminLoggedIn()" class="btn btn-success mx-2 h-50 align-self-center" routerLink="adminlogin" >Admin Login</button>

    <button *ngIf="!loginService.isUserLoggedIn() && !loginService.isAdminLoggedIn()" class="btn btn-success mx-2 h-50 align-self-center" routerLink="login">LogIn</button>

    <button *ngIf="!loginService.isUserLoggedIn() && !loginService.isAdminLoggedIn()" class="btn btn-success h-50 align-self-center" routerLink="signup">SignUp</button>

    <button *ngIf="loginService.isUserLoggedIn() && !loginService.isAdminLoggedIn()" class="btn btn-success h-50 mx-2 align-self-center" routerLink="dashboard"><b>dashboard</b></button>

    <button *ngIf="loginService.isUserLoggedIn() || loginService.isAdminLoggedIn()" routerLink="logout" class="btn btn-success h-50 align-self-center">LogOut</button>
    <button *ngIf="!loginService.isAdminLoggedIn()" routerLink="contact" class="btn btn-success mx-2 h-50 align-self-center">Contact Us</button>

</header>
<hr>
<div id="main" class="d-flex" style="background-image: url(../assets/images/busimge.jpg); background-size: 100% 100% ; background-repeat: no-repeat;">


<router-outlet></router-outlet>


</div>
<footer class="rounded rounded-5 bg-dark" style="background-color:deeppink">
    <p class="text-center text-primary">&#169; JETBUS</p>
    <p class="text-center">
        <a href="">T&C</a>
        &nbsp;&nbsp;
        <a href="">Privacy Policy</a>
        &nbsp;&nbsp;
        <a href="">FAQ</a>
    </p>
</footer>