<div class="contact-main " style="margin-left: 100px;min-height: 500px; border-radius: 10px;">

    <br />
    <h1>Corporate Head Office-Bangalore</h1>

<div class="contact  main-body">
    <div class="contact-wrapper d-flex bg-light">
                <div class="w-30 fl">
                    <div class="heading">
                        BANGALORE
                    </div>
                    <ul style="background-color: lavenderblush;">

                            <li>JETBUS Group Pvt. Ltd</li>
                            <li>Indiqube Leela Galleria,</li>
                            <li>5th Floor, #No 23, Old Airport Road,</li>
                            <li>HAL 2nd Stage, Kodihalli Village,</li>
                            <li>Varthur Hobli, Ward No: 74,</li>
                            <li>Bengaluru, Karnataka - 560008.</li>
                    </ul>

                </div>
                <div class="w-30 fl" style="background-color: lavenderblush;">
                    <div class="contact-header">
                        BANGALORE
                    </div>
                    <ul style="background-color: lavenderblush;">

                            <li>JETBUS Group Pvt Ltd.</li>
                            <li>3rd Floor, Tower B1,</li>
                            <li>Golden Enclave, HAL Old Airport Road,</li>
                            <li>Murgesh Pallya, Bengaluru,</li>
                            <li>Karnataka - 560017.</li>
                    </ul>

                </div>
                <div class="w-30 fl" style="background-color: lavenderblush;">
                    <div class="contact-header">
                        
                    </div>
                    <ul>

                            <li><br/></li>
                            <li>Ph: +919945600000</li>
                            
                            <li>Call Centre Time : 24*7</li>
                            <li><br/></li>
                            <li>For Press enquiries, please send email to <b>press@jetbus.com</b></li>
                            <li><br/></li>
                    </ul>

                </div>
    </div>