<div class="container" style="min-width:100vw;">

    <h1 class="text-center" >WELCOME TO JETBUS</h1>
    <div class="container m-auto" >
    <p><b>Welcome! to our World class platform to book bus tickets!</b></p>
    <hr>
    <p><b> JETBUS is India’s largest online bus ticketing platform that has transformed bus travel in the country by bringing ease and convenience to millions of Indians who travel using buses</b></p>
    <hr>
    
    <p><b>Through our website you can easily book tickets with ease</b></p>
    <p><b>You can easily book tickets to travel across miltiple locations in India</b></p>
    <p><b>We support all the major bus transport services in India</b></p>
    <hr>
    <p><b>We welcome you to utilize JETBUS and have a great travel experience!</b></p>
    <p><cite class="text-warning"> Designed By A Team Of Six Tech Enthusiasts And Passionate Web Developers!</cite></p>
    </div>

</div>