<div class="d-flex">
    <div style="display:flex"  class="h-500px">
        <nav style="height:500px;min-width: 200px;"class="border border-2 bg-light  display-inline-block" >
            <ul class="list-unstyled components">
                <li>
                    <button  class="btn w-100  btn-primary" [routerLink]="['..','top']">Top Routes</button>
                </li>
                <li>
                    <button class="btn w-100 mt-1 btn-primary" [routerLink]="['..','inactive']">Inactive Customers</button>
                </li>
                <li>
                    <button routerLink="changepassword" class="btn mt-1 w-100 btn-primary" [routerLink]="['..','addbus']">Add Bus</button>
                </li>
                <li>
                    <button class="btn mt-1 w-100 btn-primary" [routerLink]="['..','adminbussearch']">Delete Bus</button>
                </li>
                <li>
                    <button class="btn mt-1 w-100 btn-primary" [routerLink]="['..','profits']">Profits</button>
                </li>
    
                <li>
                    <button class="btn mt-1 w-100 btn-primary" [routerLink]="['..','addroute']">Add Route</button>
                </li>
    
                <li>
                    <button class="btn mt-1 w-100 btn-primary" [routerLink]="['..','deleteroute']">Delete Route</button>
                </li>
    
            </ul>
        </nav>

        <div class="container">
            <table class="table rounded rounded-5 bg-dark text-light">
                <thead>
                    <th>S.No</th>
                    <th>Bus No.</th>
                    <th>Arrival</th>
                    <th>Departure</th>
                    <th>Fare</th>
                    <th>Delete?</th>
                </thead>

                <tr *ngFor="let bus of buses;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{bus.busNo}}</td>
                    <td>{{bus.departure}}</td>
                    <td>{{bus.arrival}}</td>
                    <td>{{bus.price}}</td>
                    <td>
                        <button class="btn btn-sm btn-primary active" (click)="deleteBus(bus.busNo)">Delete</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>